body {
}

#eyecatch {
  background: url('eyecatch.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: tomato;
}

ul#menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;
}

ul#menu > li {
  display: inline-block;
}

ul#menu > li > a {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  background: orange;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

ul#menu > li > a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

main {
  background-color: skyblue;
}

#left, #right {
  padding: 10px;
  box-sizing: border-box;
}

#left {
  background: limegreen;
  margin-right: 220px;
}

#right {
  background: lightgreen;
  float: right;
  width: 200px;
}

/* after模擬要素を使ったclearfix */
.container::after {
  content: '';
  display: block;
  clear: both;
}

footer {
  background-color: slategray;
}
