body {
}

#eyecatch {
  background: url('eyecatch.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: tomato;
}

main {
  background-color: skyblue;
}

#left, #right {
  padding: 10px;
  box-sizing: border-box;
}

#left {
  background: limegreen;
  margin-right: 220px;
}

#right {
  background: lightgreen;
  float: right;
  width: 200px;
}

/* after模擬要素を使ったclearfix */
.container::after {
  content: '';
  display: block;
  clear: both;
}

footer {
  background-color: slategray;
}
